/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --color-title: #FF0070;
  --color-subtitle: #000028;
  --color-text: #F1B2CE;
  --bg-text-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --header-color-title: #FF0070;
  --footer-color-title: #FF0070;
  --accent-color-title: #DB00FF;
  --link-text-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  --bg-color: #000028;
  --header-bg-image-url: url(/images/cover-image-dark.png);
}

.theme-dark .header__rec {
  display: block;
}
