/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-title: #353430;
  --color-subtitle: #000028;
  --color-text: #353430;
  --bg-text-color: #ff8dcb;
  --header-color-title: #ff8dcb;
  --footer-color-title: #FF0070;
  --accent-color-title: #ffc2e6;
  --bg-color: #FFF1F7;
  --button-hover-color:  rgba(50, 49, 45, 0.4);
  --header-bg-image-url: url(/images/cover-image-light.png);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-title: #353430;
    --color-subtitle: #000028;
    --color-text: #353430;
    --bg-text-color: #ff8dcb;
    --header-color-title: #ff8dcb;
    --footer-color-title: #FF0070;
    --accent-color-title: #ffc2e6;
    --bg-color: #FFF1F7;
    --button-hover-color:  rgba(50, 49, 45, 0.4);
    --header-bg-image-url: url(/images/cover-image-light.png);
    }

  .header__rec {
    display: none;
  }
}



