/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --color-title: #FF0070;
  --color-subtitle: #000028;
  --color-text: #F1B2CE;
  --bg-text-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --header-color-title: #FF0070;
  --footer-color-title: #FF0070;
  --accent-color-title: #DB00FF;
  --link-text-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  --bg-color: #000028;
  --header-bg-image-url: url(/images/cover-image-dark.png);
  --header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --margin-bot: 50px;
  --main-gap: 10px;
}


@media (width >= 768px) {
  :root {
    --main-gap: 20px;
    --margin-bot: 80px;
    --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}


